@import "tailwindcss";

:root {
  --background: #f7f4ee;
  --foreground: #17140f;
  --ink: #17140f;
  --ink-soft: #4a453d;
  --cream: #f7f4ee;
  --cream-dim: #efe9df;
  --gold: #e7cc58;
  --gold-dark: #cdad38;
  --wine: #965b66;
  --wine-dark: #78454e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ink: var(--ink);
  --color-ink-soft: var(--ink-soft);
  --color-cream: var(--cream);
  --color-cream-dim: var(--cream-dim);
  --color-gold: var(--gold);
  --color-gold-dark: var(--gold-dark);
  --color-wine: var(--wine);
  --color-wine-dark: var(--wine-dark);
  --font-sans: var(--font-rethink-sans);
  --font-display: var(--font-dm-serif-display);
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}
